{
  "openapi": "3.1.10",
  "info": {
    "title": "Aiko Gestalt Writer",
    "version": "1.0.0"
  },
  "paths": {
    "/": {
      "get" : {
        "summary": "health check",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "summary": "Write a new gestalt to memory",
        "operationId": "writeGestalt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "tier": {
                    "type": "integer"
                  },
                  "content": {
                    "type": "string"
                  }
                },
                "required": [
                  "title",
                  "tier",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Gestalt written successfully"
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://us-west1-nomenae.cloudfunctions.net/write_gestalt"
    }
  ]
}
